@tailwind base;
@tailwind components;
@tailwind utilities;

.bgimg {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url('../../public/images/profile/mypicnobg.png');
  background-size: auto 100%;
  /* background-size: 50% 100%;  */
  /* Maintain aspect ratio and full height 
   
    */
  filter: grayscale(100%) contrast(125%) brightness(75%);
  /* Apply filter effects */

  background-repeat: no-repeat;
  background-position: right; /* Position the image to the right */
  top: 0;

  @media (max-width: 640px) {
    background-size: cover; /* Make the image cover the entire width */
    background-position: center; /* Center the image */
  }
}

.wrap {
  height: 100%;
  background: transparent;
  position: relative;
}

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Poppins:wght@400;700&display=swap');
/* 
body {
  font-family: 'Poppins', sans-serif;
} */

.font-handwritten {
  font-family: 'Caveat', cursive;
}
